.reveal section p {
  color: blue;
}

.reveal section del {
  color: red;
}

.exclaim .reveal .state-background {
  background: lightblue;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}

.exclaim .reveal section{
  color: darkblue;
}